@font-face {
	font-family: 'Itc Avant Garde Gothic';
	src: url('../fonts/ITCAvantGardeGothicMedium.woff2') format('woff2');
	font-weight: medium;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Itc Avant Garde Gothic';
	src: url('../fonts/ITCAvantGardeGothicDemi.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}